html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* or use 100vh */
    background-color: rgb(255, 219, 152);
}
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.calculator-body {
    display:flex;
    flex-direction:column;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 10px 10px rgb(86, 84, 72);
}

.calculation-text, .calculator-base {
    margin: 20px;
    padding: 20px;
}

.calculation-text {
    text-align: right;
    background-color:rgb(79, 79, 98);
    color:white;
    font-weight: bold;
    font-size: 20px;
    width:420px;
    height:20px;
}
  
.calculator-base {
    display:flex;
    flex: 1;
    background-color: rgb(39, 34, 34);
    max-height: 500px;
    border-radius: 10px;
}

.buttons {
    width:90px;
    height:50px;
}

.number-section {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
}

#clear {
    background-color: rgb(181, 96, 96);
    border: 2px white;
}

.operator-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}